/* .dash-graph-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 3px rgb(99, 99, 99);
} */

.dash-filter-data-container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    margin: 5px;
}